<% include head %>
<div id="vk_details" style="display:none">
  <h2>You're logged in with VK.com!</h2>
      <h3>Response</h3>
      <p id="response"></p>
</div>
<script type="text/javascript">
if (!Parse.User.current()) {
  window.location.href='/';
} else {
  Parse.Cloud.run('getVKData', {}).then(function(response) {
      $('#response').text(JSON.stringify(response));
      $('#vk_details').show();
  }, function(error) {
    alert('There was an error getting your VK user details, ' +
      'please check the console for more information.');
    console.log(error);
  });
}
</script>
<% include foot %>